/* ~~~~~~~~~~ GLOBAL RULES ~~~~~~~~~~ */
html {
  height: 200%;
  border: 0;
}

body {
  font-family: 'Zen Kaku Gothic Antique', Arial, sans-serif;
  height: 100%;
}

main {
  height: 90%;
  padding: 2%;
  background-color: #F0EFFA;
}

h1 {
  font-size: 250%;
  padding-bottom: 10%;
  padding-right: 3%;
  text-align: right;
}

h2 {
  font-size: 210%;
  margin-bottom: 2%;
  color: #1D1D39;
}

h3 {
  margin-top: 3%;
  font-size: 125%;
}

h4 {
  font-size: 130%;
  margin-bottom: 4%;
}

h3, 
h4 {
  margin: 0;
  text-align: left;
  margin-left: 5%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 30%;
  text-align: center;
}

section p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
}

header {
  height: 12%;
  background-color: #4F4DA7;
  display: flex;
  justify-content: space-between;
  color: #F0EFFA;
}

nav {
  width: 60%;
  display: flex;
  align-items: flex-end;
}

img {
  height: 20px;
  padding-right: 2%;
}

button {
  border: 0;
  width: fit-content;
  background-color: #4F4DA7;
  color: #F0EFFA;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-left: 3%;
  padding: 1%;
}

button:hover {
  cursor: pointer;
  background-color: #1d1d39;
  border-radius: 15px;
}

/* ~~~~~~~~~~ HEADER RULES ~~~~~~~~~~ */

.header-title button {
  font-size: 80%;
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

.longer {
  width: 22%;
}

.grid {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5%;
  border: 0;
  /* overflow: 0; */
}

.user-card {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 6px -0.75px #1D1D39;
  /* display: flex; */
}

.user-image {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.user-main {
  width: 100%;
  height: 60%;
  background-color: #F0EFFA;
  display: flex;
  align-items: flex-start;
  /* overflow: hidden; */
  justify-content: space-around;
}

.user-button {
  background-color: #1D1D39;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  border: 0;
  margin: 5%;
}

.user-button img {
  height: 60%;
}

.purple {
  color: #A177FF;
}

.user-views {
  width: 30%;
  padding-top: 3%;
}

.user-views p {
  color: #F0EFFA;
}

.url {
  height: 30%;
  width: 90%;
  font-size: 90%;
  height: 10%;
  border-radius: 7px;
  background-color: #4F4DA7;
  color: white;
}

.playlist {
  width: 95%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 50%;
  margin: 0;
  justify-content: space-evenly;
}

.user-main p {
  margin: 0 0 0 5%;
}

.username {
  width: 100%;
}

.date {
  color: #1D1D39;
  width: fit-content;
}

.small-text {
  font-size: 90%;
  color: #1D1D39;
  font-weight: 300;
}

.views {
  font-size: 225%;
  font-weight: 500;
  vertical-align: top;
  margin-top: -10%;
}

/* ~~~~~~~~~~ IMAGE RULES ~~~~~~~~~~ */

.finn {
  background-image: url("./assets/img/finn.jpeg");
}

.jake {
  background-image: url("./assets/img/jake.jpeg");
}

.bmo {
  background-image: url("./assets/img/bmo.jpeg");
}

.bubblegum {
  background-image: url("./assets/img/bubblegum.jpeg");
}

.lsp {
  background-image: url("./assets/img/lsp.png");
}

.rainicorn {
  background-image: url("./assets/img/lady_rainicorn.jpeg");
}

.marceline {
  background-image: url("./assets/img/marceline.jpeg");
}

.ice {
  background-image: url("./assets/img/ice_king.jpeg");
}