html {
  height: 200%;
}

body {
  font-family: 'Zen Kaku Gothic Antique', Arial, sans-serif;
  border: 2px solid green;
  height: 100%;
  color: white;
}

main {
  background-color: #BAC4FF;
}

header {
  height: 12%;
  background-color: #1D1D39;
  display: flex;
  justify-content: space-between;
}

main {
  height: 90%;
  padding: 2%;

}

ul {
  list-style: none;
  display: inline;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  border: 1px solid yellow;
  margin: 0;
  padding: 0 5%;
}

nav {
  width: 50%;
}

li {
  display: flex;
  align-items: center;
  padding-bottom: 5%;
  width: 24%;
}

img {
  height: 20px;
  padding-right: 2%;
}

h1 {
  font-size: 230%;
  /* height: 90%; */
  padding-bottom: 10%;
}

h2 {
  font-size: 210%;
  margin-bottom: 2%;
}

h3, 
h4 {
  margin: 0;
  /* border: 1px solid yellow; */
  text-align: left;
  margin-left: 5%;
}

h3 {
  margin-top: 3%;
  font-size: 125%;
}

h4 {
  font-size: 130%;
  margin-bottom: 4%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  text-align: center;
  border: 0!important;
}

section p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
}

/* p {
  border: 1px solid green;
} */

section {
  border: 1px solid
}

.header-title p {
  font-size: 80%;
  width: 100%;
}

.longer {
  width: 50%;
}

.grid {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-gap: 1.5%;
  border: 0;
  overflow: 0;
}

.user-card {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 6px -0.75px #1D1D39;
  /* display: flex; */
}

.user-image {
  background-color: rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.user-main {
  width: 100%;
  height: 60%;
  background-color: #CACEFF;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  justify-content: space-around;
}


button {
  background-color: #1D1D39;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  border: 0;
  margin: 5%;
}

button img {
  height: 60%;
}


.purple {
  color: #363685;
}

.user-views {
  width: 30%;
  margin-top: 3%;
}

.url {
  width: 90%;
  font-size: 90%;
  height: 10%;
  border-radius: 7px;
  background-color: #A4A5FD;
}

.playlist {
  width: 95%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 50%;
  margin: 0;
  justify-content: space-evenly;
}

.user-main p {
  margin: 0 0 0 5%;
  /* color: #32304A; */
}

.username {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date {
  color: #1D1D39;
}

.small-text {
  font-size: 90%;
  font-weight: 300;
}

.views {
  font-size: 225%;
  font-weight: 500;
  vertical-align: top;
  margin-top: -10%;
  /* border: 1px solid red; */
}

.finn {
  background-image: url("./assets/img/finn.jpeg");
}

.jake {
  background-image: url("./assets/img/jake.jpeg");
}

.bmo {
  background-image: url("./assets/img/bmo.jpeg");
}

.bubblegum {
  background-image: url("./assets/img/bubblegum.jpeg");
}

.lsp {
  background-image: url("./assets/img/lsp.png");
}

.rainicorn {
  background-image: url("./assets/img/lady_rainicorn.jpeg");
}

.marceline {
  background-image: url("./assets/img/marceline.jpeg");
}

.ice {
  background-image: url("./assets/img/ice_king.jpeg");
}